.imageDetail{

    width: 15rem;
    height: 15rem;
    margin-left: 0.5rem;
    margin-top: 2rem;
    border: 1px solid black;
    display: block;
} 

.Show{

    margin-top: -2rem;
    margin-left: 7rem;
    position: absolute;
}

h1{

    margin-top: 5rem;
}