.Image1{

    width: 100%;
    height: 20rem;
    display: block;
    margin: auto;

  
}

.Linkendin{

    display: none;
}


a{

    text-decoration: none;
    color: black;
}
a:hover{

    color: black;
}
.prix{
    font-size: 1.5rem;
}

::placeholder {
    text-align: center; 
 }



 .Detail{

    margin-bottom: 1rem;
 }

 @media screen and (min-width:900px) {

    .Image1{

        width: 20rem;
        height: 18rem;
        margin-top: 0rem;
      
    }
    
    .Linkendin{

        display: block;
    }
 }